* {
  background-image: url("../../../assets/container_bg.png");
  width: 1519.200px;

}


.section {
  display: flex;
  justify-content: space-between;
}

.leftShadow {
  width: 127px;
  height: 100vh;
  background-color: #323232;

}

.rightShadow {
  width: 127px;
  height: 100vh;
  background-color: #323232;

}

