.header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .nav {
    max-width: 913px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Для распределения ссылок по горизонтали */
    align-items: center;

    a {
      width: 14.30%; /* Задайте ширину каждой ссылки */
      padding: 20px 0; /* Увеличьте отступы для улучшения кликабельности */
      text-align: center;
      background-color: white;
      text-decoration: none;
      color: black;
      position: relative;
      transition: color 0.9s ease; /* Плавное изменение цвета текста */

      &::before {
        content: "";
        background-color: transparent; /* Начальный цвет фона */
        height: 3px; /* Уменьшите высоту, чтобы лучше соответствовать предыдущему стилю */
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background-color 0.3s ease, height 0.3s ease; /* Плавное изменение фона */
      }

      &:hover {
        color: #fff; /* Цвет текста при наведении */
      }

      &:hover::before {
        height: 100%; /* Высота подчеркивания при наведении */
        background-color: currentColor; /* Цвет фона подчеркивания соответствует цвету текста */
      }
    }
  }
}

/* Индивидуальные фоны для каждой ссылки */
.home::before {
  background-color: #919191;
}

.pokedex::before {
  background-color: #e2350d;
}

.games::before {
  background-color: #ed6b2f;
}

.animation::before {
  background-color: #4ead5b;
}

.news::before {
  background-color: #1c53ba;
}

.events::before {
  background-color: #31a7d7;
}

.cards::before {
  background-color: #e5bc2e;
}
